$enable-negative-margins: true;

/*  */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$navbar-brand-padding-y: 0;

$border-radius-lg: .5rem;

$box-shadow-sm: 0 .25rem .35rem rgba(#000, .15);

$light: #a0aec0;
$secondary: #718096;

$body-bg: #f7fafc;
$link-color: $secondary;

$headings-font-weight: 700;

$h6-font-size: 1.125rem;
