@import 'variables';
@import "~bootstrap/scss/bootstrap";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 90px;
  min-height: 100vh;
}

.h-1_25 {
  height: 1.25rem;
}

.h-2 {
  height: 2rem;
}

.h-4 {
  height: 4rem;
  @include media-breakpoint-up(md) {
    height: 5rem;
  }
}

.w-1_25 {
  width: 1.25rem;
}

.w-2 {
  width: 2rem;
}

.btn {
  padding: .5rem 1rem;
  font-size: .8rem;
  text-transform: uppercase;
}